<div class="pagination-wrap clearfix">
    {# Left buttons #}
    <div class="pagination pagination-start">
        <ul>
            {# Button "<<" #}
            <li class="pagination-item">
                <a class="pagination-item">
                    <i class="icon icon-double-angle-left"></i>
                </a>
            </li>
            
            {# Button "<" #}
            <li class="">
                <a class="pagination-item">
                    <i class="icon icon-angle-left"></i>
                </a>
            </li>
        </ul>
    </div>

    {# Dropdown button #}
    <div class="pagination-dropdown">
        <li>
            <a data-ca-scroll=".cm-pagination-container" class="pagination-dropdown-per-page" href=""></a>
        </li>
    </div>

    {# Right buttons #}
    <div class="pagination pagination-end">
        <ul>
            {# Button ">" #}
            <li class="pagination-item">
                <a class="pagination-item">
                    <i class="icon icon-angle-right"></i>
                </a>
            </li>
            
            {# Button ">>" #}
            <li class="pagination-item">
                <a class="pagination-item">
                    <i class="icon icon-double-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>