<div class="pagination-wrap clearfix">
    {# Left buttons #}
    <div class="pagination pagination-start">
        <ul>
            {# Button "<<" #}
            <li>
                <a class="pagination-item">
                    <i class="icon icon-double-angle-left"></i>
                </a>
            </li>
            
            {# Button "<" #}
            <li>
                <a class="pagination-item">
                    <i class="icon icon-angle-left"></i>
                </a>
            </li>
        </ul>
    </div>

    {# Dropdown button #}
    <div class="pagination-dropdown">
        <div class="btn-group">
            <a data-ca-scroll=".cm-pagination-container" class="btn-text btn dropdown-toggle" href="">
                <span>1</span> - <span>99</span>&nbsp;of&nbsp;<span>99</span><span class="caret"></span></a>
        </div>
    </div>

    {# Right buttons #}
    <div class="pagination pagination-end">
        <ul>
            {# Button ">" #}
            <li>
                <a class="pagination-item">
                    <i class="icon icon-angle-right"></i>
                </a>
            </li>
            
            {# Button ">>" #}
            <li>
                <a class="pagination-item">
                    <i class="icon icon-double-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>