<h4 class="subheader">
    {{ title }}
    {% if additional_id %}<small class="muted"> #{{ additional_id }}</small>{% endif %}
    {% if target %}<span class="icon-caret-down"></span>{% endif %}
</h4>