<div class="admin-content-wrapper row">
    <div class="sidebar col-lg-2">
        {% include 'components/profiles_info.twig' %}
    </div>
    <div class="content col-lg-9">
        <div class="content-wrap">
            <form action="" method="post" name="order_info_form" id="order_info_form" class="form-horizontal form-edit order-info-form">
                
            </form>
        </div>
    </div>
</div>