<div class="admin-content-wrapper row">
    <div class="sidebar col-lg-2">
        <div class="sidebar-row">
            <h6>Customer information</h6>
        </div>
        <div class="sidebar-row">
            <h6>Shipping address</h6>
        </div>
        <div class="sidebar-row">
            <h6>Billing address</h6> 
        </div>
    </div>
    <div class="content col-lg-9">
        <div class="content-wrap">test1111
        </div>
    </div>
</div>