<table>
    <thead data-ca-bulkedit-default-object="true">
        <tr>
            <th width="6%" class="left mobile-hide">
                <input type="checkbox"
                    class="bulkedit-toggler hide"
                    data-ca-bulkedit-toggler="true"
                    data-ca-bulkedit-disable="[data-ca-bulkedit-default-object=true]" 
                    data-ca-bulkedit-enable="[data-ca-bulkedit-expanded-object=true]"
                />
            </th>
            <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>id</a></th>
            <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>status</a></th>
            <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>date</a></th>
            <th width="17%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>customer</a></th>
            <th width="14%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>phone</a></th>
            <th class="mobile-hide">&nbsp;</th>
            <th width="10%" class="right"><a class="cm-ajax" href="" data-ca-target-id="total"</a></th>
        </tr>
    </thead>
</table>
